---
testing: lolo
---
{{! ---
general: s-tester
============================================

Requirements:
- (only hbs)

Options:
- testerClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="s-tester{{#if testerClasses}} {{testerClasses}}{{/if}}"
     data-js-module="tester"
     data-js-options='{
     	{{#each testerJsOptions}}"{{optionsKey}}": {{#unless optionsObject}}"{{/unless}}{{{optionsValue}}}{{#unless optionsObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}}
     }'>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, alias blanditiis consectetur consequatur corporis culpa dolorem earum eos laudantium nobis nostrum officia officiis optio praesentium, quaerat quasi ullam vitae voluptatibus.
</div>
