{{! ---
general: s-tester
============================================

Requirements:
- (only hbs)

Options:
- testerClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="s-tester{{#if testerClasses}} {{testerClasses}}{{/if}}"
     data-js-module="tester"
     data-js-options='{
     	{{#each testerJsOptions}}"{{optionsKey}}": {{#unless optionsObject}}"{{/unless}}{{{optionsValue}}}{{#unless optionsObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}}
     }'>
     
</div>
