---
testPartial: test partial
contextData: a
layout: "lyt-docu"
publish: false
---
{{! ---
general: s-tester

Requirements:
- (only hbs)

Options:
- testerClasses {String} - Modifier classes

Important Notes:

--- }}
<div class="s-tester{{#if testerClasses}} {{testerClasses}}{{/if}}"
     data-js-module="tester"
     data-js-options="{ &quot;test&quot;:  &quot;testing&quot;}">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	<strong>
		Data from partial: {{a.a}}
	</strong>
</div>