---
title: Build Better Prototypes with Veams
menuLink: Home
sortOrder: 01
---

{{#extend "lyt-default"}}
	{{#content "main"}}

		{{title}}
		{{config.title}}
		<h3>Place your content here!</h3>
		{{> s-tester }}
	{{/content}}
{{/extend}}
